<!-- <h1 class="title">History :</h1>
<div class="con">
  <ng-container *ngFor="let invoice of invoices">
  <div class="container">
      
    <p class="name">{{invoice.name}}</p>
    <p>{{invoice.date | date}}</p>
    <div class="btn">
      <span  (click)="download(invoice.id)" style="color: rgb(1, 4, 199) ;float: left;"  class="material-icons">download</span>
      <span (click)="delete(invoice.id)" style="color: rgb(215, 2, 2) ; float: right;" class="material-icons">delete</span>
      <mat-icon class="mat-icon-rtl-mirror" svgIcon="delete"></mat-icon>
    </div>
  </div>
</ng-container> -->




<div class="container_1">
  <h1 class="title">Invoice History :</h1>
    <div class="container">
      <div style="margin-top: 10px;">
     
  
     <div class="mat-elevation-z8">
       <table mat-table [dataSource]="dataSource" matSort>
  
          <ng-container matColumnDef="InvoiceName">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Action">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
           <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="download(row.id)" color="accent">
                <mat-icon>download</mat-icon>
              </button>
              <button mat-icon-button (click)="delete(row.id)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
           </td>
         </ng-container>
  
  
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  

       </table>
  
        <mat-paginator [length]="this.page.totalElements" [pageSize]="5" (page)="next()" aria-label="Select page of invoice"></mat-paginator>
      </div>
  
      </div>
    </div>
  </div>


  <!-- <mat-list>
    <div mat-subheader>Old Invoices :</div>
    <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>{{folder.name}}</div>
      <div mat-line> {{folder.updated | date}} </div>
    </mat-list-item>
  </mat-list>
  <div class="btn">
    <button mat-raised-button color="warn">Download</button>
    <button mat-raised-button color="accent" routerLink="products">Add A New Product</button>
    <button mat-raised-button color="accent" routerLink="invoice">Fill a new invoice</button>
  </div> -->
<!-- </div> -->
