.sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
}

/* .div1 {
    text-align: center;
    letter-spacing: 2px;

    width: 50%;
    float: left;
} */

.container_1 {
    display: flex;
    height: 100%;
    background-image: url(../../assets/img/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-height: 100%;
    width: 100%;
    justify-content: center;
}
.fle{
    flex: 2;
    background-color: black;
}
.container_2 {

    display: flex;
    flex: 1;
    justify-content: center;
    padding: 30px;
    text-align: center;
    letter-spacing: 2px;
}

.form-container {
    margin-top: 30px;
    max-width: 400px;
    justify-content: center;
    background-color: rgb(22, 34, 57);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.406);
    padding: 30px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
}
h1{
    color: #f5a425;
    font-weight: 600;
}
input{
    height: 30px;
    border-radius: 1px;
    padding: 5px;
}
.lbl {
    font-size: 16px;
    color: #f5a425; /* Any color */
}
.subBtn{
    width: 100px;
    padding: 10px;
    background-color: #f5a425;
    color: #fff;
    
}