


 .container{
    display: flex;
    height: auto;
    width: auto;
    background-color: rgba(22, 34, 57, 0.21);
   justify-content: center;
   align-items: center;
    /* margin: 25px; */
    flex-direction: column;
 }


.invoiceDiv{
   margin-top: 30px;
   background-color: #eeeeee;
   box-shadow: 10px 13px 30px -11px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 13px 30px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 13px 30px -11px rgba(0,0,0,0.75);
   
   padding: 25px;
}



 table {
    width: 100%;
    height:auto;
    border-radius: 10px;

 }

 th {
   height: 10px;
   background-color: darkslategray;
   text-align: center;
   align-items: center;

   color: white;
   padding-bottom: 0px;
   margin-bottom: 0px;
 }

 td, tr{
   height: 30px;
   padding-top: 0px;
   margin-top: 0px;

 }



 .the1 {
    width: 100%;
    text-align: center;
 }



 .facture{
   padding: 0;
   margin: 0;
   text-align: center;
 }
 [type="file"] {
   /* Style the color of the message that says 'No file chosen' */
     color: #878787;
   }
   [type="file"]::-webkit-file-upload-button {
     background: rgba(22,34,57,0.95);
     border: 2px solid rgba(22,34,57,0.95);
     border-radius: 4px;
     color: #fff;
     cursor: pointer;
     font-size: 12px;
     outline: none;
     padding: 10px 25px;
     text-transform: uppercase;
     transition: all 1s ease;
   }
   
   [type="file"]::-webkit-file-upload-button:hover {
     background: #fff;
     border: 2px solid #535353;
     color: #000;
   }


 .titleDiv {
   margin-left: auto;
   margin-right: 0;
 }


.headDiv , .midDiv, .lowDiv{
 margin-top: 20px;
   /* background-color: grey; */
   padding: 10px;
   margin: 10px;
}

.midDiv {
   height: auto;
}

.headDiv, .lowDiv {
   display: flex;
   flex: 1;
}

.logoDiv, .titleDiv{
   width: 400px;
   height: 300px;
   /* background-color: white; */

   flex: 1;
  /* border: 2px solid blueviolet; */
  margin: 10px;
}

.logoDiv {
  align-items: right;
}

.info, .taxes {
   width: 400px;
   height: 300px;
   /* background-color: white; */

   flex: 1;
  /* border: 2px solid blueviolet; */
  margin: 10px;
}

.remarques {
   float: left;
   clear: left;
}

.terms {
   float: left;
   clear: left;
}

.Total, .solde_a_paye, .tax, .redux, .livraison, .Mont_pay , .showPrice {
   width: 190px;
   float: right;
   text-align: right;
   clear: both;
   margin-top: 5px;
}


.date, .mod_pay, .date_pay, .bon_commande, .id {
   width: 190px;
   float: right;
   text-align: right;
   clear: both;
}


.nav_buttons {
   margin: 30px;
  margin-left: 2rem;
  display: flex;
  height: 35px;

}

.nav_buttons button{
  margin-left: 1rem;
  margin-right: 1 rem;
}

/*********************************/
select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #ff004d;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 100%;
   height: 3em;
   line-height: 3;
   overflow: hidden;
   border-radius: .25em;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #ac1240;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #690d0d;
}