
<!-- <mat-sidenav-container>
 <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

   <button
   mat-icon-button
   *ngIf="sidenav.mode === 'over'"
   (click)="sidenav.toggle()"
 >
   <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
   <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
 </button>

   &lt;!&ndash; img place &ndash;&gt;

   <h4 class="name">user name</h4>
   <p class="designation">user info</p>

   <mat-divider></mat-divider>
   <a mat-button routerLink="products">Product</a><br>


   <a mat-button routerLink="history">history</a>


   <mat-divider></mat-divider>


 </mat-sidenav>
 &lt;!&ndash; <mat-sidenav-content>
   <div class="content mat-elevation-z8">

   </div>-->
 <!-- </mat-sidenav-content> &ndash;&gt; -->
<!-- /mat-sidenav-container> --> 



<app-products></app-products>
<app-history></app-history>

